<%- include('../shared/header.ejs') %>

<div class="container mt-5">
    <h1 class="text-center">Statistique</h1>
    <div class="d-flex justify-content-center">
        <div class="card w-50 mt-5">
            <div class="card-body">
                <h5 class="card-title">Nombre de participants</h5>
                <p class="card-text">Il y a actuellement 0 participants</p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h1 class="text-center">Exporter les données</h1>
    <div class="d-flex justify-content-center">
        <form action="/reponse/export" method="get" class="w-50 mt-5">
            <div class="mb-3">
                <label for="format" class="form-label">Format</label>
                <select class="form-select" id="format" name="format">
                    <option value="csv">CSV</option>
                    <option value="json">JSON</option>
                </select>
            </div>
            <div>
                <label class="switch">
                     <input type="checkbox" >
                     <span class="slider round"></span>
                     <span class="off">JSON</span>
                     <span class="on">CSV</span>
                   </label>
               </div>
            <button type="submit" class="btn btn-primary mx-auto">Exporter</button>
        </form>
    </div>
</div>

<%- include('../shared/footer.ejs') %>