<%- include('../shared/header.ejs') %>

<div class="container mt-5">
    <h1 class="text-center">Statistiques</h1>
    <div class="d-flex justify-content-center">
        <div class="card w-50 mt-5">
            <div class="card-body">
                <h5 class="card-title">Nombre de participants</h5>
                <p class="card-text">Il y a actuellement 0 participants</p>
            </div>
        </div>
    </div>
</div>
<table class="w-50 mx-auto">
    <tr>
        <td><div id="piechart"></div></td>
        <td><div id="piechartage"></div></td>
    </tr>
</table>
<div class="container mt-5">
    
    <div class="d-flex justify-content-center">
        <form action="/reponse/export" method="get" class="w-50 mt-4">
            <h3 class="text-start w-100 ms-3">Exporter les données</h3>
            <div class="d-flex align-items-center justify-content-around">
                <div>
                <label class="switch">
                     <input type="checkbox" name="format" value="csv">
                     <span class="slider round"></span>
                     <span class="off">JSON</span>
                     <span class="on">CSV</span>
                   </label>
            </div>
            <button type="submit" class="btn btn-primary">Exporter</button>
            </div>
            
        </form>
    </div>
</div>

<%- include('../shared/footer.ejs') %>