<%- include('../shared/header.ejs') %>

<div class="mt-5 mx-auto" id="statistique">
    <div class="w-100 pt-3 ps-3">
        <h4 class="">Nombre de participants</h4>
        <p class="ms-1">Il y a actuellement 0 participants</p>
    </div>
    <div class="w-100 pt-3 ps-3">
        <h4 class="">Exporter les données</h4>
        <form action="/reponse/export" method="get" class="w-50 mt-4">
            <div class="d-flex align-items-center justify-content-around gap-5">
                <div>
                    <label class="switch">
                        <input type="checkbox" name="format" value="csv">
                        <span class="slider round"></span>
                        <span class="off">JSON</span>
                        <span class="on">CSV</span>
                   </label>
                </div>
                <button type="submit">Exporter</button>
            </div>
        </form>
    </div>
</div>
<table class="w-50 mx-auto mt-5">
    <tr>
        <td><div id="piechart"></div></td>
        <td><div id="piechartage"></div></td>
    </tr>
</table>

<%- include('../shared/footer.ejs') %>