    </main>
    <!-- <footer class="w-100 bg-dark text-light text-center py-2">
        <p>&copy; 2024 - All rights reserved</p>
    </footer> -->
</body>
</html>

<template id="template-alert-success">
    <div class="alert success alert-dismissible fade show" role="alert">
        <strong></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</template>

<template id="template-alert-error">
    <div class="alert error alert-dismissible fade show" role="alert">
        <strong></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</template>