    </main>
    <!-- <footer class="w-100 bg-dark text-light text-center py-2">
        <p>&copy; 2024 - All rights reserved</p>
    </footer> -->
</body>
</html>

<template id="template-alert-success">
    <div class="alert success alert-dismissible fade show" role="alert">
        <strong></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</template>

<template id="template-alert-error">
    <div class="alert error alert-dismissible fade show" role="alert">
        <strong></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</template>

<template id="contexte_template">
    <div class="mx-auto w-75" id="contexte" data-id-contexte="">
        <h2 class="my-5 mx-auto" >Contexte : </h2>
        <ul id="list_contexte">
            <li></li>
        </ul>
    </div>
</template>

<template id="reponse_send_template">
    <div class="d-flex flex-column align-items-center" style="margin-top: 10vh;" id="reponse_send">
        <img class="img-fluid w-25" src="/img/icone_sendform.png" alt="Icone reponse envoyée">
        <h2 class="text-center">Votre participation a bien été enregistré</h2>
        <a href="/">Retourner à l'acceuil</a>
    </div>
</template>