<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style2.css">
    <script src="/js/stats.js" defer></script>
    <script src="/js/script2.js" defer></script>
    <script src="/js/modification.js" defer></script>
    <script src="../../public/js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <header class="d-grid w-100 align-items-center">
        <div>
            <img src="/img/logo_lab_epsylon.png" alt="Logo epsylon">
        </div>
        <div>
            <nav>
                <ul class="nav justify-content-center gap-3">
                    <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
                    <% if (!locals.login){ %>
                    <li class="nav-item"><a class="nav-link" href="/participate">Participer</a></li>
                    <% } %>
                    <% if (locals.login){ %>
                        <li class="nav-item"><a class="nav-link" href="/admin/statistique">Statistique</a></li>
                        <li class="nav-item"><a class="nav-link" href="/admin/modification">Gerer les dilemmes</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
        <div> 
            <% if (locals.login){ %>
                <li class="nav-item"><a class="nav-link" href="/logout">Se déconnecter</a></li>
            <% } else{ %>
                <li class="nav-item"><a class="nav-link" href="/login">Se connecter</a></li>
            <% } %>
        </div>
    </header>
    <main>