<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/stats.js" defer></script>
    <script src="/js/script.js" defer></script>
</head>
<body class="bg-dark text-light">
    <header class="w-100">
        <nav class="d-flex justify-content-center mx-auto w-100 py-2  shadow">
            <ul class="nav w-100 d-grid">
                <div class="d-flex justify-content-center">
                    <li class="nav-item me-3 nav-items-border-hover">
                        <a class="nav-link vc text-light" href="/">Accueil</a>
                    </li>
                    <li class="nav-item me-3 nav-items-border-hover"> 
                        <a class="nav-link text-light" href="/participate">Participer</a>
                    </li>
                    <% if (locals.login){ %>
                        <li class="nav-item nav-items-border-hover">
                            <a class="nav-link text-light" href="/statistique">Statistique</a>
                        </li>
                    <% } %>
                </div>
                <% if (locals.login){ %>
                    <li class="text-end">
                        <a class="nav-link vc text-light" href="/logout">Se déconnecter</a>
                    </li>
                <% } else{ %>
                <li class="text-end">
                    <a class="nav-link vc text-light" href="/login">Se connecter</a>
                </li>
                <% } %>
            </ul>
        </nav>
    </header>
    <main>
    
    