<%- include('./shared/header.ejs') %>

<div class="mx-auto mt-5">
    <h2 class="mb-4">Si vous souhaitez nous contacter, voici nos coordonnées :</h2>
    <p>Adresse :  2033 Av. Bouisson Bertrand, 34090 Montpellier</p>
    <p>Téléphone : 04 11 75 70 65</p>
    <p>Email : example@email.com</p>
</div>


<%- include('./shared/footer.ejs') %>