<%- include('./shared/header.ejs', {title: title}) %>
    <div class="d-flex">
        <div class="text-light w-50" id="text-presentation">
            <h1 class="mb-2">Bienvenue</h1>
            <h3 class="mb-4">Quelques explications avant d'aller plus loin ?</h3>
            <p style="line-height: 1.6;">
                Lorsque vous irai dans l'onglet "Participer", vous allez être confrontez à plusieurs dilemmes qui vont vous exposer à question morale. 
                Pour répondre à ces situations, vous aurez le choix entre 7 réponses, allant de "Pas du tout d'accord" à "Tout à fait d'accord".
                Il y aura 3 étapes au cours desquelles vous devrez répondre à des dilemmes, à chaque étape vous vous mettrez dans la peau d'une personne ou entité différente.
            </p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <img src="/img/img-presentation.jpg" alt="image de présentation" class="img-fluid shadow rounded-2 ms-5" id="img-presentation">
        </div>
    </div>
    
<%- include('./shared/footer.ejs') %>
