<%- include('./shared/header.ejs', {title: title}) %>
    <div class="d-flex">
        <div class="text-light w-50" id="text-presentation">
            <h1 class="mb-2">Bienvenue</h1>
            <h3 class="mb-4">Quelques explications avant d'aller plus loin ?</h3>
            <p style="line-height: 1.6;">
                Lorsque vous irai dans l'onglet "Participer", vous allez être confrontez à plusieurs situations qui porrait se passer dans la vie quotidienne. 
                Pour répondre à ces situations, vous aurez le choix entre 2 réponses. Chaque situation vous sera présentée 3 fois de suite avec à plusieurs étapes. 
                La première étape est la situation en elle-même, la deuxième étape est la situation avec un élément de contexte qui va venir légerement modifier la situation et 
                la troisième étape est le rajout d'un autre élément de contexte qui va venir se rajouter à celui déjà présent. 
                De plus, des indications vous seront parfois données avant de voir les situatiuons afin d'aiguiller vos choix.
            </p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <img src="/img/img-presentation.jpg" alt="image de présentation" class="img-fluid shadow rounded-2 ms-5" id="img-presentation">
        </div>
    </div>
    
<%- include('./shared/footer.ejs') %>
