<%- include('./shared/header.ejs', {title: title}) %>


    <div class="mx-auto" id="div-home">

            <h4 class="mx-4">Quelques explications avant d'aller plus loin ?</h3>
            <p class="mx-4 mt-2">
                Lorsque vous irez dans l'onglet "Participer", vous découvrirez plusieurs dilemmes. 
                Pour chacun d'eux, vous donnerez votre réponse sur une échelle allant de "Pas du tout d'accord" à "Tout à fait d'accord". 
                Ces dilemmes vous seront présentés trois fois avec la consigne de répondre selon une perspective différente à chaque fois. 
                Les dilemmes vous paraîtront parfois difficiles mais rassurez-vous il n'y a pas de bonne ou mauvaise réponse.
            </p>
            <img src="/img/drapeau_droite.png" alt="drapeau do what's right">
            <img src="/img/drapeau_gauche.png" alt="drapeau follow your heart">
    </div>



<%- include('./shared/footer.ejs') %>
