body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

li.nav-items-border-hover {
    position: relative; /* Nécessaire pour la position absolue du pseudo-élément */
}

li.nav-items-border-hover::before{
    content: ""; /* Nécessaire pour générer un pseudo-élément */
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0; /* Commence sans largeur pour l'effet d'animation */
    height: 2px; /* Hauteur de la "bordure" */
    background-color: white; /* Couleur de la "bordure" */
    border-radius: 1px;
    transition: width 0.4s ease; /* Animation sur la largeur */
    transform: translateX(-50%);
}

li.nav-items-border-hover:hover::before {
    width: 100%; /* Étend la largeur à 100% au survol */
    transform: translateX(-50%);
}

header{
    background-color: #363a3d;
}


ul.nav{
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
}

ul.nav > div{
    grid-column: 2;
}

#text-presentation{
    text-align: justify;
    margin: 7em 0 3em 4em;
}   

#img-presentation{
    width: 75%;
}

main{
    margin: 0 7em;
}

h1, h2{
    width: 50vw;
}

form{
    border: #495057 solid 1px;
    border-radius: 30px;
    width: 50vw;
    margin: 0 auto;
    padding-top: 2em;
}

form > div{
    margin: 1em;
    justify-content: space-evenly;
}
form > div > div{
    width: 39%;
    display: flex;
    flex-direction: column;
}

form input[type="text"], form textarea, form select, form input[type="number"]{
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    margin: auto;
    border: #495057 solid 1px;
}

form textarea, form select:not(#sexe){
    width: 100%;
}

form > div:nth-last-child(2), form > div:nth-last-child(4), form > div:nth-last-child(3){
    width: 82%;
    
}

form > div:nth-last-child(2) > div, form > div:nth-last-child(4) > div , form > div:nth-last-child(3) > div{
    width: 100%;
    
}

form input[type="submit"]{
    background-color: #495057;
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    width: 20%;
}
.radio-reponse{
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    grid-row: 2;
    cursor: pointer;
    border: 2px solid #bbb;
    transition: border-color 0.25s, box-shadow 0.25s;
}

.radio-reponse:checked {
    background-color: #007bff; /* Couleur de fond quand sélectionné */
    border-color: #007bff; /* Couleur de bordure quand sélectionné */
}

#container-reponse{
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}

#dilemme{
    margin-top: 8em;
}


.custom-radio {
    width: 20px; /* Taille plus grande pour faciliter le clic */
    height: 20px;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    appearance: none; /* Désactiver le style par défaut */
    -webkit-appearance: none; /* Pour les navigateurs WebKit */
    background-color: #fff; /* Couleur de fond */
    border: 2px solid #bbb; /* Bordure solide */
    outline: none; /* Retirer l'outline au focus */
    transition: border-color 0.25s, box-shadow 0.25s;
}

.custom-radio:checked {
    background-color: #007bff; /* Couleur de fond quand sélectionné */
    border-color: #007bff; /* Couleur de bordure quand sélectionné */
}

.custom-radio:focus {
    box-shadow: 0 0 0 2px rgba(0,123,255,0.25); /* Ombre pour l'effet de focus */
}


  
.hide-incarnation {
    display: none; /* Rend tout le contenu transparent */
}

#ia {
    display: inline-block;
    font-weight: bold;
  }
  
.move-to-top-right {
    position: absolute;
    animation: moveToTopRight 1s forwards;
}

@keyframes moveToTopRight {
    0% {
        transform: translate(20vw, 5vh);
    }
    100% {
        transform: translate(30vw,0); /* Proche du coin supérieur droit */
    }
}


.switch {
    position: relative;
    display: inline-block;
    width: 210px;
    height: 45px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    background-color: #008fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 6px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(105px);
  }

  /* Style the switch button that is used to turn the style off and on */
  .switch span {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    font-size: 14px;
    color: black;
    border-radius: 6px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .switch span.off {
    left: 17%;
  }

  .switch span.on {
    right: 18%;
  }

.alert.success{
    background: #46dda2;
    color: #474242;
    display: flex;
}

.alert.error{
    background: #f44336;
    color: #474242;
}

div.alert.success, div.alert.error{
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
    margin: 0 10px 10px 0;
    padding: 20px;
    border-radius: 6px;
}

div.alert.success .btn-close, div.alert.error .btn-close{
    position: relative;
    padding: 4px;
    margin: 0 0 0 10px;
    cursor: pointer;
}

.custom-radio-green{
    background-color: #8ed270;
    border-color: #3c9e12;
}

.custom-radio-red{
    background-color: #f44336;
    border-color: #a71d1d;
}